.key-block {
  display: flex;
  align-items: center;
  height: 4.1em;
}

.key-block>pre {
  overflow: auto;
  height: 100%;
  flex: 1;
}

.key-block>a {
  text-align: center;
  align-content: center;

  margin-left: 1em;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
}

* {
  scrollbar-color: var(--color-border-dark) var(--color-background-code-dark);
  scrollbar-width: thin;
}
